*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image:url(futuristic-banner-background-with-wireframe-terrain-vector.jpg);
    background-size:cover;
    position: relative;
    background-repeat: no-repeat;
    z-index: -1;
}
header a img{
    width: 350px;
    height: 80px;
}
ul {
    list-style: none;
    color: #ecfee8;
}
section div .row ul li{
    font-size: 30px;
    font-weight: 600;
    color:white;   
}
section div .row p{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color:white;}

section div .row h3{
    font-size: 40px;
    font-weight: 600;
    color:white;
}
section div .row h1{
    font-size: 40px;
    font-weight: 600;
    color:white;
}
section div .row h3 i{
    font-size: 30px;
    margin-left: 20px;
    font-weight: 600;
    color:white;
}
section div .row h1 i{
    font-size: 30px;
    margin-left: 20px;
    font-weight: 600;
    color:white;
}          
.list{
    margin-top: 75px;
}

@media screen and (max-width: 480px) {
    section div .row p{
        font-size: 20px;
        line-height: 40px;
        font-weight: 900;
        color: #ecfee8;
              
    }
    .logo img{
        margin: 20px 0px;
        height: 130px;
        width: 170px;
    }
    .footer .logo img{
        height: 70px;
        width:350px ;
    }
    .list{
        margin-top: -35px;
    }
    section div .row h3{
        font-size: 25px;
        font-weight: 600;
        color:white;
    }
    section div .row h3 i{
        font-size: 20px;
        margin-left: 10px;
        font-weight: 600;
        color:white;
    }
    section div .row ul li{
        font-size: 14px;
        margin: 7px 0px;
        font-weight: 600;
        color:white;
    }
    .col-sm-6{
        width: 50%;
    }
    section div .row h1{
        font-size: 25px;
        font-weight: 600;
        color:white;
    }
    section div .row p{
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        color:white;}
        section div .row h3 i{
            font-size: 20px;
            margin-left: 10px;
            
            font-weight: 600;
            color:white;
        }
  }