*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image:url(futuristic-banner-background-with-wireframe-terrain-vector.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;
}
header a img{
    width: 350px;
    height: 80px;
}
ul {
    list-style: none;
    color: #ecfee8;
}
section div .row ul li{
    font-size: 30px;
    font-weight: 600;
    background: #ffffff;
background: linear-gradient(to right, #ffffff 0%, #dd8cb5 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
          
}
section div .row h3{
    font-size: 40px;
    font-weight: 600;
    background: #ffffff;
background: linear-gradient(to right, #ffffff 0%, #dd8cb5 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
section div .row h3 i{
    font-size: 30px;
    font-weight: 600;
    background: #ffffff;
background: linear-gradient(to right, #ffffff 0%, #dd8cb5 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
          
.list{
    margin-top: 75px;
}

@media screen and (max-width: 480px) {
    section div .row p{
        font-family: "Salsa", cursive;
        font-size: 20px;
        line-height: 40px;
        font-weight: 900;
        color: #ecfee8; background-image: -webkit-linear-gradient(0deg, #ecfee8 2%, #ecfee8 20%, #ecfee8 76%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
              
    }
    .btun a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #ecfee8;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: 18px;
        overflow: hidden;
        transition: 0.2s;
    }
    .logo img{
        height: 100px;
        width: 150px;
    }
    .list{
        margin-top: -35px;
    }
  }